# Local RabbitMQ Server config
RABBITMQ_ERLANG_COOKIE='secret cookie'
RABBIT_HOST=rabbit
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
discovery.type=single-node

ELASTIC_HOSTNAME='elastic'

## Legacy importer Queue
rabbitmq_input_host=rabbit
rabbitmq_input_username=guest
rabbitmq_input_pw=guest
rabbitmq_input_key=netflow_queue

## define logstash input queue
rabbitmq_input_netflow_host=rabbit
rabbitmq_input_netflow_username=guest
rabbitmq_input_netflow_pw=guest
rabbitmq_input_netflow_key=netflow_queue

rabbitmq_input_sflow_host=rabbit
rabbitmq_input_sflow_username=guest
rabbitmq_input_sflow_pw=guest
rabbitmq_input_sflow_key=sflow_queue

# For logstash output queue
rabbitmq_output_host=rabbit
rabbitmq_output_username=guest
rabbitmq_output_pw=guest
rabbitmq_output_key=netsage_archive_input

# Logstash settings
# set this to false so we don't install elasticsearch locally
XPACK_MONITORING_ENABLED=false
# for logstash aggregation filter, ensure only one logstash worker is running
PIPELINE_WORKERS=1
# for debugging
## LOG_LEVEL=debug

# Importer settings
# == EXAMPLE VALUES MUST BE REPLACED ==
sflowSensorName="Sflow Sensor Name"
netflowSensorName="Netflow Sensor Name"

# Logstash Aggregation Filter settings
# default inactivity_timeout is 630 sec for 5-minute nfcapd files; for 15-minute files, use 960 sec.
inactivity_timeout=15
max_flow_timeout=120
aggregation_maps_path=/data/logstash-aggregation-maps
