# PMACCT SETTINGS
# Number of sensors of each type
# === UPDATE IF THERE ARE NOT 1 OF EACH TYPE ===
sflowSensors=1
netflowSensors=1

# Env variables for one sensor should all end in the same suffix,
# and there should be a sequence (_1, _2, etc) for sflow and a sequence for netflow.
# For each sensor, list the following:
#   The sensor name to assign to flows  
#   The port on the pipeline host to which the router is sending flows
# === REPLACE EXAMPLE VALUES ===
sflowSensorName_1=The Sflow Sensor Name
sflowPort_1=8000

netflowSensorName_1=The Netflow Sensor Name
netflowPort_1=9000

# LOGSTASH SETTINGS
# By default, processed flows are sent to a rabbit queue.
# The example settings write to the rabbitmq container, where they will accumulate, by default.
# === TO SEND PROCESSED FLOWS TO GlobalNOC, ASK FOR THE PROPER SETTINGS ===
rabbitmq_output_host=rabbit
rabbitmq_output_username=guest
rabbitmq_output_pw=guest
rabbitmq_output_key=processed_flows

# Aggregation Filter settings
# Default inactivity_timeout is 6-minute. If no matching flows have come in for 6 minutes, end the aggregated flow. 
# Default max_flow_timeout is 1 hour. This is the maximum allowed flow duration; longer flows will be broken up.
# Aggregation_maps_path is where flows undergoing aggregation are saved if logstash shuts down. The default is for Docker installs.
inactivity_timeout=360
max_flow_timeout=3600
aggregation_maps_path=/data/logstash-aggregation-maps

# Advanced Processing Options - see the "Docker Advanced" documentation

# To do ifindex (interface) filtering of flows from specified sensors:
# Flows from listed sensors will be dropped unless src or dst interface is in the list of ifindexes to keep.
# "ALL" can refer to all sensors or all interfaces of a sensor.
# If a sensor is not referenced, all its flows will be kept.
ifindex_filter_flag=False
##ifindex_filter_keep=Sensor A Name: 456,789; Sensor B Name: ALL

# To change the sensor name for flows from a specified sensor and interface:
# Provide the ifindex, old and new sensor names.
ifindex_sensor_rename_flag=False
##ifindex_sensor_rename_ifindex=123
##ifindex_sensor_rename_old_name=Old Sensor Name
##ifindex_sensor_rename_new_name=New Sensor Name

# To correct for sampling in the logstash pipeline:
# Normally, sampling corrections are applied before ingest into logstash, but in certain cases, 
# it may need to be done in logstash. Logstash will do corrections only if pmacct reports that it has not!
# List affected sensors and the correction factor. "ALL" can refer to all sensors.
sampling_correction_flag=False
##sampling_correction_sensors=Sensor A Name; Sensor B Name
##sampling_correction_factor=100

# To do subnet filtering of flows:
# Flows from specified sensors will be dropped unless src or dst is in the list of subnets to keep.
# "ALL" can refer to all sensors.
# If a sensor is not referenced, all its flows will be kept.
subnet_filter_flag=False
##subnet_filter_keep=Sensor A Name: 123.45.6.0/16; Sensor B Name: 123.33.33.0/24, 456.66.66.0/24

# To NOT deidentify flows:
# Deidentification of IP addresses is done by default.
# To keep full IP addresses, set this parameter to True.
full_IPs_flag=False

# Logstash Process Settings

# The aggregation filter requires there be only one logstash worker!
PIPELINE_WORKERS=1
PIPELINE_ORDERED=true
# memory - java heap size 
LS_JAVA_OPTS=-Xmx2g -Xms2g
# we are not going to evaluate cluster health and performance
XPACK_MONITORING_ENABLED=false

# LOGSTASH/PAMACCT SETTINGS
# pmacct will write and logstash will read flows from this rabbit host
# (when running rabbitmq locally outside of docker, input_host should be localhost)
rabbitmq_input_host=rabbit
rabbitmq_input_username=guest
rabbitmq_input_pw=guest

# RABBITMQ SERVER SETTINGS (container)
# (for the post-pmacct/pre-logstash queue)
RABBIT_HOST=rabbit            
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_ERLANG_COOKIE='secret cookie'
discovery.type=single-node

# In case you run elasticsearch container and want logstash to write to it
ELASTIC_HOSTNAME='elastic'
