#RabbitMQ Server config
RABBITMQ_ERLANG_COOKIE='secret cookie'
RABBIT_HOST=rabbit
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
discovery.type=single-node

## define logstash input queue
rabbitmq_input_host=rabbit
rabbitmq_input_username=guest
rabbitmq_input_pw=guest

## define logstash output queue
rabbitmq_output_host=rabbit
rabbitmq_output_username=guest
rabbitmq_output_pw=guest
rabbitmq_output_key=netsage_archive_input

## disable monitoring of logstash to remove local elastic dependency
XPACK_MONITORING_ENABLED=false

## Logstash log.level setting
#LOG_LEVEL=debug

##Build env
RELEASE=false
