# This is an example of how to set up member or customer netblock mappings
# The name of the file must be networkA-members-list.rb 
# (replace networkA with the name of the network in the filename and below)

# For pre-filtering, list ASNs that all the member netblocks belong to, as integers
@asn_list['networkA']  = [1234, 4557, 89]

# List netblocks with the desired organization names
# Put the biggest blocks/those with most flows at top
@members['networkA'] = {
     "111.22.33.0/24" => "Member A",
     "444.55.66.0/32" => "Customer B",
     "2001:db8:3c4d:15::/64" => "Entity C"
}
