<config>
  <!-- rabbitmq connection info -->
  <rabbit_input>
    <host>127.0.0.1</host>
    <port>5671</port>
    <username>guest</username>
    <password>guest</password>
    <batch_size>100</batch_size>
    <vhost>netsage</vhost>
    <queue>netsage_anonymizer_raw</queue>
    <channel>2</channel>
    <ssl>0</ssl> <!-- SSL needs to be enabled for this stage of the pipeline if pulling from a remote host -->
    <cacert>/path/to/ca_certificate.crt</cacert> <!-- required if ssl is enabled -->
    <durable>1</durable> <!-- Whether the rabbit queue is 'durable' (don't change this unless you have a reason) -->
  </rabbit_input>
  <rabbit_output>
    <host>127.0.0.1</host>
    <port>5671</port>
    <username>guest</username>
    <password>guest</password>
    <batch_size>100</batch_size>
    <vhost>netsage</vhost>
    <queue>netsage_anonymizer_tagged</queue>
    <channel>3</channel>
    <ssl>0</ssl>
    <cacert>/path/to/ca_certificate.crt</cacert> <!-- required if ssl is enabled -->
    <durable>1</durable> <!-- Whether the rabbit queue is 'durable' (don't change this unless you have a reason) -->
  </rabbit_output>
  <worker>
    <!-- How many concurrent workers should perform the necessary operations -->
    <num-processes>4</num-processes>

    <!-- where should we write the worker pid file to -->
    <pid-file>/var/run/netsage-anonymizer-workers.pid</pid-file>

  </worker>
  <geoip> 
    <config_files>
      <country>/usr/share/GeoIP/GeoIP.dat</country>
      <country_ipv6>/usr/share/GeoIP/GeoIPv6.dat</country_ipv6>
      <city>/usr/share/GeoIP/GeoIPCity.dat</city>
      <city_ipv6>/usr/share/GeoIP/GeoIPCityv6.dat</city_ipv6>
      <asn>/usr/share/GeoIP/GeoLiteASNum.dat</asn>
      <asn_ipv6>/usr/share/GeoIP/GeoLiteASNumv6.dat</asn_ipv6>
    </config_files>
  </geoip>
</config>
