log4perl.rootLogger = INFO, SYSLOG

log4perl.appender.SYSLOG = Log::Dispatch::Syslog
log4perl.appender.SYSLOG.min_level = info
log4perl.appender.SYSLOG.facility = LOCAL0
log4perl.appender.SYSLOG.ident = sub {  \
    my $process = $0;       \
    if ( $process =~ /netsage-(.+)-daemon/ ) {  \
        my $ident = $1;     \
        return "NETSAGE-".uc($ident);  \
    } else {                \
        return "NETSAGE-".$process;    \
    }  \
}
log4perl.appender.SYSLOG.layout = PatternLayout
log4perl.appender.SYSLOG.layout.ConversionPattern=%F[%L] %p: %m%n
