<config>
  <!-- rabbitmq connection info -->
  <rabbit_input>
    <host>localhost</host>
    <port>5671</port>
    <username>username</username>
    <password>password</password>
    <ssl>1</ssl>
    <batch_size>100</batch_size>
    <vhost>netsage</vhost>
    <cacert>/path/to/certificate.crt</cacert>
    <queue>netsage_anonymizer_tagged</queue>
    <channel>3</channel>
  </rabbit_input>
  <rabbit_output>
    <host>localhost</host>
    <port>5671</port>
    <username>username</username>
    <password>password</password>
    <ssl>1</ssl>
    <batch_size>100</batch_size>
    <vhost>netsage</vhost>
    <cacert>/path/to/certificate.crt</cacert>
    <queue>netsage_anonymizer_anonymized</queue>
    <channel>4</channel>
  </rabbit_output>
  <worker>
    <!-- How many concurrent workers should perform the necessary operations -->
    <num-processes>4</num-processes>

    <!-- where should we write the worker pid file to -->
    <pid-file>/var/run/netsage-anonymizer-workers.pid</pid-file>

  </worker>
  <anonymization>
      <!-- these probably won't work correctly if they aren't multiples of 8 -->
      <ipv4_bits_to_strip>8</ipv4_bits_to_strip>
      <ipv6_bits_to_strip>64</ipv6_bits_to_strip>
  </anonymization>
</config>
