<config>
  <!-- rabbitmq connection info -->
  <rabbit_input>
    <host>127.0.0.1</host>
    <port>5671</port>
    <username>guest</username>
    <password>guest</password>
    <batch_size>100</batch_size>
    <vhost>/</vhost>
    <queue>netsage_deidentifier_deidentified</queue>
    <channel>4</channel>
    <ssl>0</ssl>
    <cacert>/path/to/cert.crt</cacert> <!-- required if ssl is 1 -->
    <durable>1</durable> <!-- Whether the rabbit queue is 'durable' (don't change this unless you have a reason) -->
  </rabbit_input>
  <rabbit_output>
    <host>host2</host>
    <port>5672</port>
    <batch_size>100</batch_size>
    <queue>tsds_queue</queue>
    <vhost>/</vhost>
    <channel>5</channel>
    <ssl>1</ssl>
    <cacert>/path/to/cert.crt</cacert> <!-- required if ssl is 1 -->
    <durable>1</durable> <!-- Whether the rabbit queue is 'durable' (don't change this unless you have a reason) -->
  </rabbit_output>
  <worker>
    <!-- How many concurrent workers should perform the necessary operations -->
    <num-processes>4</num-processes>
  </worker>
  <master>
    <!-- where should we write the daemon pid file to -->
    <pid-file>/var/run/netsage-finished-flow-mover-daemon.pid</pid-file>
  </master>
</config>
