<config>
<!-- 
     "sensor" indicates the node that captured the
    flow records; it can be any string that uniquely
    identifies that flow collector.
    Defaults to the local hostname 
-->
<!--
  <sensor>hostname.domainname.tld</sensor>
-->

<!-- "instance" goes along with sensor
     this is to identify various instances if a sensor has more than one
     "stream" / data collection
     defaults to 0.
-->

<!--
    <instance>1</instance>
-->

  <!-- rabbitmq connection info -->
  <rabbit_input>
    <host>127.0.0.1</host>
    <port>5672</port>
    <username>guest</username>
    <password>guest</password>
    <ssl>0</ssl>
    <batch_size>100</batch_size>
    <vhost>/</vhost>
    <cacert>/path/to/certificate.crt</cacert> <!-- required if ssl is 1 -->
    <queue>netsage_deidentifier_netflow_raw2</queue>
    <channel>2</channel>
    <durable>1</durable> <!-- Whether the rabbit queue is 'durable' (don't change this unless you have a reason) -->
  </rabbit_input>
  <rabbit_output>
    <host>127.0.0.1</host>
    <port>5672</port>
    <username>guest</username>
    <password>guest</password>
    <ssl>0</ssl>
    <batch_size>100</batch_size>
    <vhost>/</vhost>
    <cacert>/path/to/certificate.crt</cacert> <!-- required if ssl is 1 -->
    <channel>3</channel>
    <queue>netsage_deidentifier_raw</queue>
    <durable>1</durable> <!-- Whether the rabbit queue is 'durable' (don't change this unless you have a reason) -->
  </rabbit_output>
  <worker>
    <!-- How many flows to process at once -->
    <flow-batch-size>100</flow-batch-size>
    <!-- How many concurrent workers should perform the necessary operations -->
    <num-processes>1</num-processes>

    <!-- Directory to find flow data -->
    <flow-path>/path/to/flow/data</flow-path>

    <!-- flow-type is optional
         "netflow" is the default.
         "sflow" is also supported 
         this is purely to tag the metadata; it does not change how the data is processed
    -->
    <!--
        <flow-type>netflow</flow-type>
    -->

    <!-- path to nfdump executable (defaults to /usr/bin/nfdump) -->
    <!-- 
    <nfdump-path>/path/to/nfdump</nfdump-path>
-->

    <!-- Where to store the cache, where it tracks what files it has/hasn't read -->
    <cache-file>/var/cache/netsage/netflow_importer.cache</cache-file>
    <!-- The minium flow size threshold - will not  import any flows smaller than this
         Defaults to 500M
    -->
    <!--
    <min-bytes>500000000</min-bytes>
    -->
    <!-- ignore nfcapd files older than this age -->
    <!--
         min-file-age specifies to ignore files newer than $age, which must match
        /^(\d+)([DWMYhms])$/ where
        D, W, M, Y, h, m and s are
        "day(s)", "week(s)", "month(s)", "year(s)", "hour(s)", "minute(s)" and "second(s)", respectively"
    See http://search.cpan.org/~pfig/File-Find-Rule-Age-0.2/lib/File/Find/Rule/Age.pm
    -->
  </worker>
  <master>
    <!-- where should we write the daemon pid file to -->
    <pid-file>/var/run/netsage-netflow-importer-daemon.pid</pid-file>
  </master>
</config>
