<config>
  <!-- rabbitmq connection info -->
  <rabbit_input>
    <host>localhost</host>
    <port>5671</port>
    <username>username</username>
    <password>password</password>
    <ssl>1</ssl>
    <batch_size>100</batch_size>
    <vhost>netsage</vhost>
    <cacert>/path/to/cert.crt</cacert>
    <queue>netsage_deidentifier_raw</queue>
    <channel>2</channel>
  </rabbit_input>
  <rabbit_output>
    <host>localhost</host>
    <port>5671</port>
    <username>username</username>
    <password>password</password>
    <ssl>1</ssl>
    <batch_size>100</batch_size>
    <vhost>netsage</vhost>
    <cacert>/path/to/cert.crt</cacert>
    <queue>netsage_deidentifier_cached</queue>
    <channel>3</channel>
  </rabbit_output>
  <worker>
      <!-- How many concurrent workers should perform the necessary operations -->
      <!-- for stitching, we can only use 1 -->
    <num-processes>1</num-processes>

    <!-- where should we write the cache worker pid file to -->
    <pid-file>/var/run/netsage-cache-workers.pid</pid-file>

  </worker>
</config>
