<config>
  <!-- rabbitmq connection info -->
  <rabbit_input>
    <host>127.0.0.1</host>
    <port>5672</port>
    <username>guest</username>
    <password>guest</password>
    <batch_size>100</batch_size>
    <vhost>/</vhost>
    <queue>netsage_deidentifier_raw</queue>
    <channel>2</channel>
    <ssl>0</ssl>
    <cacert>/path/to/cert.crt</cacert> <!-- required if ssl is 1 -->
    <durable>1</durable> <!-- Whether the rabbit queue is 'durable' (don't change this unless you have a reason) -->
  </rabbit_input>

  <!-- The cache doesn't output to a rabbit queue (shared memory instead) but we still need something here -->
  <rabbit_output>
    <host>127.0.0.1</host>
    <port>5672</port>
    <username>guest</username>
    <password>guest</password>
    <batch_size>100</batch_size>
    <vhost>/</vhost>
    <queue>netsage_deidentifier_cached</queue>
    <channel>3</channel>
    <ssl>0</ssl>
    <cacert>/path/to/cert.crt</cacert> <!-- required if ssl is 1 -->
    <durable>1</durable> <!-- Whether the rabbit queue is 'durable' (don't change this unless you have a reason) -->
  </rabbit_output>
  <worker>
      <!-- How many concurrent workers should perform the necessary operations -->
      <!-- for stitching, we can only use 1 -->
    <num-processes>1</num-processes>

     <!-- IPC key allows you to specify the IPC key that will be used for the
             flow cache. Defaults to 'flow' - set to different values if you are
             running multiple pipeline instances on one host
             Must be a 4-character word, or a number
     -->
    <!--
        <ipc-key>flo2</ipc-key>
    -->

  </worker>
  <master>
    <!-- where should we write the cache daemon pid file to -->
    <pid-file>/var/run/netsage-flow-cache-daemon.pid</pid-file>
  </master>
</config>
