<config>
  <!-- archive path -->
  <archive_path>/path/to</archive_path>
  <archive_file>raw_archive.jsonl</archive_file>
  <!-- rabbitmq connection info -->
  <rabbit_input>
    <queue>netsage_deidentifier_deidentified_archive</queue>
    <channel>2</channel>
  </rabbit_input>
  <rabbit_output>
    <channel>3</channel>
    <queue>netsage_deidentifier_raw2</queue>
  </rabbit_output>
  <worker>
    <!-- How many flows to process at once -->
    <!--<flow-batch-size>1000</flow-batch-size> -->
    <!-- How many concurrent workers should perform the necessary operations -->
    <num-processes>1</num-processes>

    <!-- where should we write the worker pid file to -->
    <pid-file>/var/run/netsage-raw-archive-workers.pid</pid-file>

  </worker>
</config>
