<config>
  <!-- rabbitmq connection info -->
  <rabbit_input>
    <host>127.0.0.1</host>
    <port>5671</port>
    <username>guest</username>
    <password>guest</password>
    <batch_size>100</batch_size>
    <vhost>netsage</vhost>
    <queue>netsage_deidentifier_tagged</queue>
    <channel>3</channel>
    <ssl>0</ssl>
    <cacert>/path/to/certificate.crt</cacert> <!-- required if ssl is 1 -->
  </rabbit_input>
  <rabbit_output>
    <host>127.0.0.1</host>
    <port>5671</port>
    <username>guest</username>
    <password>guest</password>
    <batch_size>100</batch_size>
    <vhost>netsage</vhost>
    <queue>netsage_deidentifier_deidentified</queue>
    <channel>4</channel>
    <ssl>0</ssl>
    <cacert>/path/to/certificate.crt</cacert> <!-- required if ssl is 1 -->
  </rabbit_output>
  <worker>
    <!-- How many concurrent workers should perform the necessary operations -->
    <num-processes>4</num-processes>
  </worker>
  <master>
    <!-- where should we write the daemon pid file to -->
    <pid-file>/var/run/netsage-deidentifier-daemon.pid</pid-file>
  </master>
  <deidentification>
      <!-- these probably won't work correctly if they aren't multiples of 8 -->
      <ipv4_bits_to_strip>8</ipv4_bits_to_strip>
      <ipv6_bits_to_strip>64</ipv6_bits_to_strip>
  </deidentification>
</config>
