<config>
  <!-- rabbitmq connection info -->
  <rabbit_input>
    <host>127.0.0.1</host>
    <port>5671</port>
    <username>guest</username>
    <password>guest</password>
    <ssl>0</ssl>
    <batch_size>100</batch_size>
    <vhost>/</vhost>
    <cacert>/path/to/certificate.crt</cacert> <!-- required if ssl is 1 -->
    <queue>netsage_deidentifier_netflow_raw2</queue>
    <channel>2</channel>
    <durable>1</durable> <!-- Whether the rabbit queue is 'durable' (don't change this unless you have a reason) -->
  </rabbit_input>
  <rabbit_output>
  </rabbit_output>
    <host>127.0.0.1</host>
    <port>5671</port>
    <username>guest</username>
    <password>guest</password>
    <ssl>0</ssl>
    <batch_size>100</batch_size>
    <vhost>netsage</vhost>
    <cacert>/path/to/certificate.crt</cacert> <!-- required if ssl is 1 -->
    <channel>3</channel>
    <queue>netsage_raw_restore2</queue>
    <durable>1</durable> <!-- Whether the rabbit queue is 'durable' (don't change this unless you have a reason) -->
  <worker>
    <!-- How many flows to process at once -->
    <!--<flow-batch-size>1000</flow-batch-size> -->
    <!-- How many concurrent workers should perform the necessary operations -->
    <num-processes>1</num-processes>

    <!-- where should we write the worker pid file to -->
    <pid-file>/var/run/netsage-raw-importer-workers.pid</pid-file>

  </worker>
</config>
