<config>
    <!-- 
         "sensor" indicates the node that captured the
        flow records; it can be any string that uniquely
        identifies that flow collector.
        Defaults to the local hostname 
    -->
<!--
  <sensor>hostname.domainname.tld</sensor>
-->

  <!-- rabbitmq connection info -->
  <rabbit_input>
    <host>127.0.0.1</host>
    <port>5671</port>
    <username>guest</username>
    <password>guest</password>
    <ssl>0</ssl>
    <batch_size>100</batch_size>
    <vhost>netsage</vhost>
    <cacert>/path/to/certificate.crt</cacert> <!-- required if ssl is 1 -->
    <queue>netsage_deidentifier_netflow_raw2</queue>
    <channel>2</channel>
    <durable>1</durable> <!-- Whether the rabbit queue is 'durable' (don't change this unless you have a reason) -->
  </rabbit_input>
  <rabbit_output>
    <host>127.0.0.1</host>
    <port>5671</port>
    <username>guest</username>
    <password>guest</password>
    <ssl>0</ssl>
    <batch_size>100</batch_size>
    <vhost>netsage</vhost>
    <cacert>/path/to/certificate.crt</cacert> <!-- required if ssl is 1 -->
    <channel>3</channel>
    <queue>netsage_deidentifier_raw</queue>
    <durable>1</durable> <!-- Whether the rabbit queue is 'durable' (don't change this unless you have a reason) -->
  </rabbit_output>
  <worker>
    <!-- How many flows to process at once -->
    <flow-batch-size>1000</flow-batch-size>
    <!-- How many concurrent workers should perform the necessary operations -->
    <num-processes>1</num-processes>

    <!-- Directory to find flow data -->
    <flow-path>/path/to/flow/data</flow-path>

    <!-- Where to store the cache, where it tracks what files it has/hasn't read -->
    <cache-file>/var/cache/netsage/netflow_importer.cache</cache-file>

    <!-- ignore nfcapd files older than this age -->
    <!--
         min-file-age specifies to ignore files newer than $age, which must match
        /^(\d+)([DWMYhms])$/ where
        D, W, M, Y, h, m and s are
        "day(s)", "week(s)", "month(s)", "year(s)", "hour(s)", "minute(s)" and "second(s)", respectively"
    See http://search.cpan.org/~pfig/File-Find-Rule-Age-0.2/lib/File/Find/Rule/Age.pm
    -->

    <!-- where should we write the worker pid file to -->
    <pid-file>/var/run/netsage-netflow-importer-workers.pid</pid-file>

  </worker>
</config>
