<config>
  <!-- rabbitmq connection info -->
  <rabbit_input>
    <host>127.0.0.1</host>
    <port>5671</port>
    <username>guest</username>
    <password>guest</password>
    <batch_size>100</batch_size>
    <vhost>netsage</vhost>
    <queue>netsage_deidentifier_raw2</queue>
    <channel>2</channel>
    <ssl>0</ssl>
    <cacert>/path/to/cert.crt</cacert> <!-- required if ssl is 1 -->
  </rabbit_input>
  <rabbit_output>
    <host>127.0.0.1</host>
    <port>5671</port>
    <username>guest</username>
    <password>guest</password>
    <batch_size>100</batch_size>
    <vhost>netsage</vhost>
    <queue>netsage_deidentifier_stitched</queue>
    <channel>3</channel>
    <ssl>0</ssl>
    <cacert>/path/to/cert.crt</cacert> <!-- required if ssl is 1 -->
  </rabbit_output>
  <worker>
      <!-- How many concurrent workers should perform the necessary operations -->
      <!-- for stitching, we can only use 1 -->
    <num-processes>1</num-processes>

    <!-- where should we write the worker pid file to -->
    <pid-file>/var/run/netsage-stitcher-workers.pid</pid-file>

  </worker>
</config>
