[Unit]
Description=Netsage Pipeline Importer 
After=rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
User=root
Group=root
Environment=CONFIG=/etc/grnoc/netsage/deidentifier/netsage_netflow_importer.xml
Environment=SHAREDCONFIG=/etc/grnoc/netsage/deidentifier/netsage_shared.xml
ExecStart=/usr/bin/netsage-netflow-importer-daemon --config ${CONFIG} --sharedconfig ${SHAREDCONFIG} --nofork
ExecStopPost=/bin/echo "Use ps to be sure the daemon and worker both stopped"

# PID file location is set in importer config file. Probably /var/run/.
# We don't have HUP capability yet
# We might want to try restarting automatically, but not now
# Restart=on-failure
# RestartSec=30s

[Install]
WantedBy=multi-user.target
