[Unit]
Description=NetSage Pipeline Flow Filter  
After=rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
User=root
Group=root
Environment=CONFIG=/etc/grnoc/netsage/deidentifier/netsage_flow_filter A.xml
Environment=SHAREDCONFIG=/etc/grnoc/netsage/deidentifier/netsage_shared .xml
ExecStart=/usr/bin/netsage-flow-filter-daemon --config ${CONFIG} --sharedconfig ${SHAREDCONFIG} --nofork

# We don't have HUP capability yet
# We might want to try restarting automatically, but not now
# Restart=on-failure
# RestartSec=30s

[Install]
WantedBy=multi-user.target
