[Unit]
Description=NetSage Flow Archive (NetSage pipeline)
After=rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
Environment=CONFIG=/etc/grnoc/netsage/deidentifier/netsage_flow_archive.xml
ExecStart=/usr/bin/netsage-flow-archive-daemon --config ${CONFIG} --nofork
ExecStop=/bin/kill $MAINPID

# We don't have HUP capability yet
# ExecReload=/bin/kill -s SIGHUP $MAINPID

# We might want to try restarting automatically, but not now
# Restart=on-failure
# RestartSec=30s

[Install]
WantedBy=multi-user.target
