[% FOREACH row = data %]
{
"src_ip": "[% row.src_ip %]",
"dest_ip": "[% row.dest_ip %]",
"src_port": "[% row.src_port %]",
"dest_port": "[% row.dest_port %]",
"src_asn": "[% row.src_asn %]",
"dest_asn": "[% row.dest_asn %]",
"node_name": "[% row.node_name %]",
"src_interface_snmp_index": "[% row.src_snmp_index %]",
"dest_interface_snmp_index": "[% row.dest_snmp_index %]",
"ip_protocol": "[% row.ip_protocol %]",
"num_bits": "[% row.bits %]",
"num_packets": "[% row.packets %]",
"start_time": "[% row.start_ts %]",
"end_time": "[% row.end_ts %]"
},
[% END %]
